.DS_Store
__pycache__/
keras/Flickr8k_Data_Set/
keras/Flickr8k_image_data/
keras/Flickr8k_text_data/
keras/Flickr10_image_data/
keras/Flickr10_text_data/
keras/model_checkpoints/
keras/static/uploaded_images/
keras/unseen_images/
tensorflow/caption_this_tensorflow/data/
tensorflow/caption_this_tensorflow/models/
*.txt
*.pkl
*.png
